{% extends "base.html" %}

{% block body %}
    {{ super() }}
<div class="container">
    <p>Home page</p>
    <ul class="pagination">
        {% if page != 1 %}
        <li class="page-item"><a class="page-link" href="{{ url_for('users_page', page=prev) }}">Previous</a></li>
        {% endif %}
        {% for i in range(len) %}
       
        <!-- <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li> -->
        <li class="page-item"><a class="page-link" href="{{ url_for('users_page', page=num_pages[i]) }}">{{num_pages[i]}}</a></li>
      
        {% endfor %}
        
        <li class="page-item"><a class="page-link" href="{{ url_for('users_page', page=next) }}">Next</a></li>
       
      </ul>
     
        <div class="d-flex flex-wrap align-content-start mb-3">
            {% for user in users %}
            <div class="p-2 bg-info me-5">
                <div class="card" style="width: 11rem;">
                    <p><h5 class="card-title">{{user[0]}}-{{user[1]}}</h5></p>
                    <a href="{{user[4]}}"><img src="{{user[2]}}" class="card-img-top" alt="..."></a>

                    <!-- <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    
                    </div> -->
                </div>
            </div>
            {% endfor %}
            <!-- <div class="p-2 bg-primary me-5">Flex item 3</div>
            <div class="p-2 bg-warning me-5">Flex item 2</div>
            <div class="p-2 bg-primary me-5">Flex item 3</div> -->
        </div>
    

      
</div>
   
{% endblock %}